[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
click = "*"
flask-wtf = "*"
requests = "*"
"boto3" = "*"
csvkit = "*"
furl = "*"
flask-debugtoolbar = "*"
flask-optimize = "*"
htmlmin = "*"
jinja2 = ">2.10"
urllib3 = ">=1.24.2"
goodtables = "*"
pandas = "*"
pytest = "*"
bidict = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
