[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-migrate = "*"
sentry-sdk = "*"
flask-wtf = "*"
psycopg2-binary = "*"
flask-misaka = "*"
gunicorn = "*"
validator = {editable = true,git = "https://github.com/digital-land/validator.git"}
flask-sslify = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
