-e git+https://github.com/colmjude/govuk-jinja-components.git@ecdc5a843f13a75d4f2c371ee1fea28acd521b40#egg=govuk-jinja-components
-e git+https://github.com/digital-land/validator.git@8e2ad41a3e113f9ebed093b2a3dac200d24a71e8#egg=validator
flask
flask-sqlalchemy
flask-misaka
flask-migrate
flask-wtf
flask-sslify
gunicorn
psycopg2-binary
requests
python-dotenv
sentry-sdk[flask]