$govuk-green-colour: 	#006435;

.validation-results-table {
  margin-top: $govuk-gutter;
}

.top-heading-row {
  .top-heading-row--cell {
    padding-left: 9px;
    border-left: 1px solid $govuk-border-colour;
  }
}

.validation-result-row {

  .full-results-link {
    display: inline-block;
    font-size: govuk-em(16, 19);
  }

  .validation-result-numeric-cell,
  .center-align-cell {
    text-align: center;
    padding-right: 0;
  }

  .center-align-cell {
    padding-left: 10px;
    padding-right: 10px;
  }

  .validation-result-not-available {
    color: $govuk-secondary-text-colour;
  }

  .successful {
    color: $govuk-green-colour;
    font-weight: 700;
    background: rgba($govuk-green-colour, 0.1);
  }

  .unsuccessful, .error {
    color: govuk-colour("red");
    font-weight: 700;
    background: rgba( govuk-colour("red") , 0.1);
  }

  .warning {
    color: govuk-colour("yellow");
    font-weight: 700;
    background: rgba(govuk-colour("yellow"), 0.1);
  }

}