{% extends "dlf-base.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Edits complete
      </h1>
    </div>

    <p class="govuk-body">We updated the following headers in your uploaded data</p>

	<!-- playback some changes/confirm new headers/data -->
      <ul class="govuk-list">
          {% for header in updated_headers %}
            <li class="govuk-list--bullet">{{ header }}</li>
          {% endfor %}
      </ul>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
        You can <a href="{{ url_for('frontend.revalidate', result=result.id) }}">revalidate</a> the updated data and see if there are any remaining issues.
    </p>
    <p class="govuk-body">
	   You can also download register with the updates you just made.
    </p>

	 <div class="highlight-box highlight-box--flush">
    <a class="govuk-link" href="{{ url_for('frontend.get_csv', result=result.id) }}">Download updated CSV</a>
	 </div>

  </div>
</div>
{% endblock %}