{% extends "dlf-base.html" %}

{% block beforeContent %}
  {{ super() }}
  <a href="{{ url_for('frontend.validation_result', result=result.id) }}" class="govuk-back-link">Back to validation report</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Edit your headers</h1>

<p class="govuk-body">There were some issues with the headers contained in your register. We can fix the issues now. Then you will be able to download an updated CSV file.</p>

<p class="govuk-body">If there are some missing headers we can create them and add them to the CSV file. Below you can choose the headers you would like us to create.</p>

<form method="POST" class="govuk-form">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	{% if result.extra_headers_found()|length > 0 %}
	<label class="govuk-label govuk-!-font-weight-bold">Unknown headers</h4>
	<span class="govuk-hint">Edit any misspelt headers. E.g. sitePlanURL to SiteplanURL</span>
    {{ invalid_header_idxs }}
	<ul class="govuk-list">
		{%- for header in result.extra_headers_found()|sort -%}
		<li>
			<div class="govuk-form-group govuk-form-group--no-label {% if invalid_edits and invalid_edits.get(loop.index0) %}govuk-form-group--error{% endif %}">
				<input type="text" class="govuk-input govuk-input--width-20 {% if invalid_edits and invalid_edits.get(loop.index0) %}govuk-input--error{% endif %}" name="update-header-{{loop.index0}}" value="{{ invalid_edits.get(loop.index0).update if invalid_edits and invalid_edits.get(loop.index0) else header }}">
            	{% if invalid_edits and invalid_edits.get(loop.index0) %}
                <span class="govuk-error-message">You updated {{ invalid_edits.get(loop.index0).current }} to {{ invalid_edits.get(loop.index0).update }} which is not in the standard</span>
				{% endif %}
            </div>
		</li>
		{%- endfor -%}
	</ul>
	{% endif %}


	<div class="govuk-form-group">
  		<fieldset class="govuk-fieldset" aria-describedby="missing-headers-hint">
    		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				<h1 class="govuk-fieldset__heading">
				Missing headers
				</h1>
			</legend>
			<span id="missing-headers-hint" class="govuk-hint">
			  Select all headers we should create in the CSV.
			</span>

			<div class="govuk-checkboxes">
				{%- for header in result.missing_headers()|sort -%}
				<div class="govuk-checkboxes__item">
        			<input class="govuk-checkboxes__input" id="missing-header-{{ header }}" name="missing-header-{{ header }}" type="checkbox" value="{{ header }}" checked>
					<label class="govuk-label govuk-checkboxes__label" for="missing-header-{{ header }}">
					{{ header }}
					</label>
      			</div>
      			{%- endfor -%}
    		</div>

  		</fieldset>
	</div>

	<button class="govuk-button" data-module="govuk-button">
  	Save and continue
	</button>
</form>

{% endblock %}
