{% extends "default.html" %}

{% block pageTitle %}
  Fix register task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Fix brownfield register
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Column issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ url_for('frontend.fix_columns') }}" aria-describedby="eligibility-completed">
                Missing columns
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Fixed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ url_for('frontend.fix_columns') }}" aria-describedby="unexpected-columns-removed">
                Unexpected columns
              </a>
              <strong class="govuk-tag govuk-tag--warning app-task-list__task-completed" id="unexpected-columns-removed">Warnings</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Data issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ url_for('frontend.fix_dates') }}">
                Incorrect dates
              </a>
              <strong class="govuk-tag govuk-tag--error app-task-list__task-completed">Errors</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Incorrect URLs
              </a>
              <strong class="govuk-tag govuk-tag--error app-task-list__task-completed">Errors</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Invalid entries
              </a>
              <strong class="govuk-tag govuk-tag--error app-task-list__task-completed">Errors</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Incorrect content types
              </a>
              <strong class="govuk-tag govuk-tag--error app-task-list__task-completed">Errors</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Geography issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ url_for('frontend.fix_up_geography', brownfield_site_publication_id='brownfield-sites-AMB') }}">
                Unexpected encoding
              </a>
              <strong class="govuk-tag govuk-tag--error app-task-list__task-completed">Errors</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ url_for('frontend.fix_up_geography', brownfield_site_publication_id='brownfield-sites-AMB') }}">
                Incorrect geographies
              </a>
              <strong class="govuk-tag govuk-tag--warning app-task-list__task-completed">Warnings</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> File issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                xxx
              </a>
              <strong class="govuk-tag govuk-tag--warning app-task-list__task-completed">Warnings</strong>
            </li>
          </ul>
        </li>

      </ol>

    </div>
  </div>

{% endblock %}