{% extends "default.html" %}

{% from "jinja-components/select/templateFlexible.html" import govukSelectFlexible %}

{% block headEnd %}
  {{ super() }}
  <link rel="stylesheet" href="/static/stylesheets/vendor/govuk-accessible-autocomplete.min.css" />
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ url_for('frontend.local_authority' )}}" class="form" method="POST">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Which Local Authority?
          </h1>
        </legend>

        {% call govukSelectFlexible(
            id="local-authority",
            label="Local Authority",
            name="local-authority-selector") %}

            <option value="">-- Select a Local Authority --</option>
          {% for item in organisations %}
            <option value="{{ item.organisation }}">{{ item.name }}</option>
          {% endfor %}

        {% endcall %}

      </fieldset>

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>

    </form>

    <h4 class="govuk-heading-s">Why we ask for this?</h4>
    <p class="govuk-body">It helps us know which Local Authority the Brownfield site data belongs to. This helps with the validation of the geo data. We can check that the site locations provided are in the Local Authorities boundary.</p>

  </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script src="/static/javascripts/vendor/govuk-accessible-autocomplete.min.js"></script>
<script>
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    confirmOnBlur: true,
    selectElement: document.querySelector('#local-authority')
  });
</script>
{% endblock %}