{% extends "default.html" %}

{% from "macros/forms.html" import render_input_field %}

{% block title %}Brownfield sites validator{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Brownfield sites validator</h1>
        <p class="govuk-body">
          Check a file meets the <a href="https://www.gov.uk/government/publications/brownfield-land-registers-data-standard">brownfield
          land registers data standard</a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <form class="govuk-form" method="GET" action="{{ url_for('frontend.validate') }}">
              <div class="govuk-form-group">
                  <label class="govuk-form-label-bold" for="url">URL</label>
                  <span class="govuk-hint govuk-body">e.g. http://data.bassetlaw.gov.uk/media/751005/BrownfieldLandRegister2017.csv</span>

                  <input class="govuk-input" id="url" name="url" required="" value="" type="url">
              </div>
              <button class="govuk-button button-validate" type="submit">Validate</button>
          </form>
      </div>
    </div>

{% endblock %}


