{% macro govukSelect(id, name, label, items) %}
  {%- include "jinja-components/select/template.html" -%}
{% endmacro %}

{% macro govukSelectFlexible(id, name, label) %}
  {%- include "jinja-components/select/templateFlexible.html" -%}
{% endmacro %}