$govuk-fonts-path: "/static/govuk/assets/fonts/";
$govuk-images-path: "/static/govuk/assets/images/";

// import all GOVUK Frontend scss
@import "all";

$using-helvetica: false;

// Import common Digital Land styles
@import "common/colours";
@import "common/helvetica-fixes";
@import "common/mhclg-branding";
@import "common/site-full-width-container";

// import Digital Land components
@import "components/page-feedback";
@import "components/buttons";
@import "components/contribution-bar";
@import "components/hero";
@import "components/tags";
@import "components/panels";
@import "components/task-list";
@import "components/contents";
@import "components/govuk-search";
@import "components/dl-info-text";
@import "components/related-items";
@import "components/highlight-box";
@import "components/pagination";
@import "components/filter-group";
@import "components/charts";


// project imports
// ===============
@import "components/hero";
@import "components/govuk-tags";
@import "components/validation-results";
@import "common/forms";

@import "from_frontend/related-items";

// Additional styles
// =================

@if $using-helvetica == true {
  * {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
  }
}

.dlf-secondary-text {
  color: govuk-colour("dark-grey");
}

.missing-text {
  color: govuk-colour("mid-grey");
}

.inline-error-text {
  color: $govuk-error-colour;
  font-weight: 700;
  text-decoration: underline;
}

// default link style should
// match govuk link style
a {
  @include govuk-link-common;
}

.govuk-text {
  max-width: 30em;
}

.url {
  word-break: break-word;
}

.no-margin {
  margin-bottom: 5px;
}

.row-value {
  font-weight: bold;
}

.csv-url {
  word-wrap: break-word;
}

.panel-error {
  border-color: govuk-colour("red");
  background: govuk-colour("dark-grey");
}

.panel-warning {
  border-color: govuk-colour("yellow");
  background: govuk-colour("dark-grey");
}

.govuk-panel__title--l {
  @include govuk-font($size: 36, $weight: bold);
}

.list-bullet-coloured {
  li {
    padding-left: 1em;

    &:before {
      content: "•";
      margin-left: -10px;
      padding-right: 10px;
      color: govuk-colour("yellow");
      font-size: 24px;
    }
  }
}

.list-bullet-coloured--error {
  li {
    &:before {
      color: govuk-colour("red");
    }
  }
}

.govuk-inset-text--error {
  border-color: govuk-colour("red");
}

.govuk-inset-text--warning {
  border-color: govuk-colour("yellow");
}

.govuk-panel--error {
  border: 8px solid govuk-colour("red");
  color: $govuk-text-colour;
  background: $govuk-canvas-background-colour;
}

.govuk-panel--warning {
  border: 8px solid govuk-colour("yellow");
  color: $govuk-text-colour;
  background: $govuk-canvas-background-colour;
}

.standard-extract {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  border-left: 4px solid govuk-colour("blue");
  background: $govuk-canvas-background-colour;
}

.skip-btn {
  display: inline-block;
  padding: 14px $govuk-gutter-half;
  line-height: 1;
}

.fix-a-row {
  @include govuk-responsive-margin(3, "bottom");

  span {
    padding: 0 5px;

    &:first-child {
      padding-left: 0;
    }
  }

  .current-value {
    font-weight: bolder;
  }

  .govuk-input-inline {
    display: inline;
    width: 10em;
  }
}

.list-of-columns {
  height: 60px; // temporary
  margin-bottom: $govuk-gutter;
  background: $govuk-canvas-background-colour;

  &--error {
    border: 4px solid govuk-colour("red");
  }

  &--warning {
    border: 4px solid govuk-colour("yellow");
  }
}

.govuk-button + .govuk-inset-text {
  margin-top: 0;
}

.govuk-details__summary-text .govuk-heading-m,
.govuk-details__summary-heading {
  margin-bottom: 5px;
}

// tweak .govuk-tag
// required if using helvetica, not NTA
@if $using-helvetica == true {
  .govuk-warning-text__icon {
    line-height: 26px;
  }

  .govuk-button--start {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.column-review {
  margin-bottom: $govuk-gutter;
  padding-left: $govuk-gutter-half;
  background: $govuk-canvas-background-colour;

  &--missing {
    border-left: 5px solid govuk-colour("red");
  }

  &--unknown {
    border-left: 5px solid govuk-colour("yellow");
  }
}

.leaflet-pane .bfs-popup {
  padding: 10px;

  &--heading {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
    word-break: break-all;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Field list
// ======================
.govuk-details--close {
  margin-bottom: 15px;
}

.field-list {
  padding: 5px 0;
  border: 1px solid govuk-colour("dark-grey");

  > li {
    padding: 0 10px;
  }

  > .error {
    color:  $govuk-error-colour;
    font-weight: 700;
  }
}
