// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/static/govuk_template/images/";

// Import all the govuk-elements partials listed in _govuk-elements.scss
@import "govuk-elements";

@import "components/hero";
@import "common/forms";
@import "common/layout";

@import "from_frontend/related-items";
@import "from_frontend/panel";

* {
	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
}

.govuk-width-container {
  @extend %site-width-container;
}

.url {
  word-break: break-word;
}

.no-margin {
  margin-bottom: 5px;
}

.row-value {
  font-weight: bold;
}

.csv-url {
  word-wrap: break-word;
}

.panel-error {
  border-color: $red;
  background: $highlight-colour;
}

.panel-warning {
  border-color: $yellow;
  background: $highlight-colour;
}

.list-bullet-coloured {
  li {
    padding-left: 1em;
    &:before {
      content: "•";
      color: $yellow;
      margin-left: -10px;
      font-size: 24px;
      padding-right: 10px;
    }
  }
}
.list-bullet-coloured--error {
  li {
    &:before {
      color: $red;
    }
  }
}
